*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*feel free to change anything here*/

body{
    background: olive;
    padding:2rem;
}

h1{
    color: white;
}

.bathroom{
    width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:1.5rem;
}

.bathroom2{
    width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:1.5rem;
   
}

h2{
    color: yellow;
    padding:.9rem;
    font-size: 2.5rem;
}

.flex{
    display: flex;
    flex-direction: row;
}

.middle{
    color:hsl(143, 72%, 28%)
}

.middle2{
    color:hsl(264, 45%, 38%);
}

p{
    font-size:0.9rem ;
    color: darkblue;
    padding:.5rem;
}

