*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*feel free to change anything here*/

body{
    background: olive;
}

h1{
    color: white;
}

h2{
    color: yellow;
}

p{
    font-size:0.9rem ;
    color:red;
}

